<h4>Timelapse Purger</h4>
<form class="form-vertical">
	<div class="control-group">
		<label class="control-label">{{ _('Days') }}</label>
		<div class="controls">
			<input type="number" min="1" class="input-small" data-bind="value: settingsViewModel.settings.plugins.timelapsepurger.cut_off_length"></input>
		</div>
	</div>
</form>
